.background {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 30px 70px;
  width: 60vw;
  height: 50vh;
  background: rgba(9, 33, 67, 0.8);
  box-shadow: 24px 26px 4px -11px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 36px;
}

.app form {
  display: flex;
  flex-direction: column;
}

.app .text {
  font-weight: 500;
  font-size: 30px;
  color: #ffffff;
  padding: 10px 0;
}

.input {
  border-radius: 10px;
  text-align: center;
  padding: 10px 10px;
  margin-bottom: 10px;
}

.button {
  border-radius: 10px;
  text-align: center;
  padding: 5px 0;
}

.timer {
  display: flex;
  font-weight: 800;
  font-size: 64px;
  line-height: 96px;
  text-align: center;

  color: #ffffff;
}
