.background {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 140px;
  background: rgba(9, 33, 67, 0.8);
  box-shadow: 24px 26px 4px -11px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 36px;
}

.app form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.app .text {
  display: flex;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  color: #ffffff;
  padding: 10px 0;
}

.input {
  border-radius: 10px;
  text-align: center;
  padding: 10px 10px;
  margin-bottom: 10px;
  color: rgb(9, 33, 67);
}

.button {
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  background-color: #ffffff;
  padding: 7px 7px;
  font-weight: 800;
  font-size: 15px;
  color: rgb(9, 33, 67);
}

.button:hover {
  transform: scale(1.05);
}

.timer {
  display: flex;
  font-weight: 800;
  font-size: 64px;
  text-align: center;

  color: #ffffff;
}

.column {
  min-width: 100px;
}

.column p {
  font-size: 20px;
  margin: 0;
}

@media (max-width: 810px) {
  .app {
    padding: 20px 20px;

    box-shadow: 12px 13px 2px -6px rgba(0, 0, 0, 0.5);
  }

  .app .text {
    font-size: 20px;
  }

  .timer {
    font-size: 15px;
  }

  .column p {
    font-size: 10px;
  }

  .column {
    min-width: 63px;
  }

  .button {
    font-weight: 700;
    font-size: 13px;
  }
}
